.footerStyle {
  position: relative;
  left: 0;
  bottom: 40px;
  width: 100%;
}

.footerImage {
  margin: 50px auto 0; /* 위쪽 여백 추가 (20px) */
  padding: 10px 40px; /* 상하, 좌우 */
  object-fit: cover;
}

ul {
  list-style: none; /* 리스트 마커 없애기 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
}
