.AbilityModal {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 수직 방향으로 요소 배치 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  position: fixed; /* 모달이 화면 중앙에 위치하도록 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
  width: 300px; /* 모달 너비 */
  padding: 20px; /* 내부 여백 */
  border-radius: 20px; /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  background-color: #92b455; /* 배경색 */
  outline: none; /* 테두리 없애기 */
  z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 설정 */
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center; /* 제목 중앙 정렬 */
}

label {
  display: inline-flex; /* 인라인 플렉스 박스로 설정하여 수평 정렬 */
  align-items: center; /* 라디오 버튼과 텍스트를 세로 중앙 정렬 */
  margin: 10px; /* 여백 추가 */
}

input[type="text"] {
  width: 90%; /* 텍스트 입력 필드 너비 */
  padding: 10px; /* 내부 여백 */
  margin: 5px 0; /* 위아래 여백 */
  border: none; /* 테두리 없애기 */
  border-radius: 20px; /* 둥근 모서리 */
}

input[type="radio"] {
  margin-right: 5px; /* 라디오 버튼과 텍스트 사이 여백 */
}

button {
  padding: 5px 5px;
  margin-top: 5px;
  background-color: #6b9126; /* 배경색 설정 */
  color: white; /* 텍스트 색상 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 모서리 */
  cursor: pointer; /* 커서 스타일 변경 */
  width: 50%; /* 버튼 너비 설정 */
  max-width: 150px; /* 최대 너비 설정 */
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 생략 기호(...) 추가 */
  transition: transform 0.1s ease; /* 클릭할 때의 부드러운 효과 추가 */
}

button:hover {
  background-color: #000000; /* 호버 시 배경색 변경 */
}

ul {
  list-style-type: none; /* 리스트 스타일 제거 */
  padding: 0; /* 내부 여백 제거 */
  text-align: left; /* 리스트 항목을 왼쪽 정렬 */
}

li {
  display: flex; /* 플렉스 박스 사용 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  padding: 5px; /* 여백 추가 (선택사항) */
}

.plusButton {
  margin-right: 10px; /* 버튼과 텍스트 간의 간격 조정 */
  width: 22px; /* 버튼의 고정 너비 설정 */
  height: 22px; /* 버튼의 고정 높이 설정 */
  border: none; /* 테두리 제거 */
  background-color: #6b9126; /* 배경색 설정 */
  color: white; /* 텍스트 색상 설정 */
  border-radius: 50%; /* 둥근 버튼 모양 */
  cursor: pointer; /* 커서 스타일 변경 */
  transition: background-color 0.3s ease; /* 배경색 변화 효과 */
}

.plusButton:hover {
  background-color: #000000; /* 호버 시 배경색 변경 */
}

.button-container {
  display: flex; /* 플렉스 박스를 사용 */
  flex-direction: column; /* 수직 방향으로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-top: 5px; /* UserAbility와 버튼들 사이의 간격 */
}

div {
  text-align: left; /* 모든 내부 요소를 왼쪽 정렬 */
}
