.AbilityModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #92b455;
  outline: none;
  z-index: 1000;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}

label {
  display: inline-flex;
  align-items: center;
  margin: 5px;
}

input[type="text"] {
  width: 90%;
  padding: 8px;
  margin: 4px 0;
  border: none;
  border-radius: 15px;
}

.makeAbilityButton {
  padding: 5px 5px;
  margin: 0;
  background-color: #6b9126;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.1s ease;
}

.makeAbilityButton:hover {
  background-color: #4e6a1a;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  font-size: 14px;
}

.plusButton {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #6b9126;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plusButton:hover {
  background-color: #000000;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

div {
  text-align: left;
}

span.abilityText {
  text-align: left;
  margin-top: 4px;
  width: 80px;
  display: inline-block;
}

.deleteButton {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #f64848;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}
